table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
 margin-left:38%;
 margin-top:2%;
}

td, th {
  border: 1px solid black;
  
  padding: 8px;
}

.addemployee
{
	margin-left:50%;
	margin-top:3%;
}
h1
{
	margin-left:25%;
}
h3{
	margin-left:33%;
}
#myModal
{
	margin-left:15%;
	margin-top:15%;
}
h4{
	margin-left:40%;
	margin-top:3%;
}